NPCTEMPLATE
#NPC_GambleBank
{
templatename=GambleBank
makeatnobody=1
name=
makeatnosee=1
graphicname=100444
functionset=NPC_GambleBank
}

#NPC_MemberShop
{
templatename=MemberShop
makeatnobody=1
name=
makeatnosee=1
graphicname=16347
functionset=NPC_MemberShop
}

#NPC_MemberPets
{
templatename=MemberPets
makeatnobody=1
name=
makeatnosee=1
graphicname=16347
functionset=NPC_MemberPets
}
