NPCTEMPLATE
#######Æ°Êª±à##########
##00
{
templatename=sb_zoo0
makeatnobody=1
makeatnosee=1
type=100250
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##01
{
templatename=sb_zoo1
makeatnobody=1
makeatnosee=1
type=100254
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##02
{
templatename=sb_zoo2
makeatnobody=1
makeatnosee=1
type=100259
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##03
{
templatename=sb_zoo3
makeatnobody=1
makeatnosee=1
type=100263
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##04
{
templatename=sb_zoo4
makeatnobody=1
makeatnosee=1
type=100267
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##05
{
templatename=sb_zoo5
makeatnobody=1
makeatnosee=1
type=100271
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##06
{
templatename=sb_zoo6
makeatnobody=1
makeatnosee=1
type=100275
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##07
{
templatename=sb_zoo7
makeatnobody=1
makeatnosee=1
type=100279
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##08
{
templatename=sb_zoo8
makeatnobody=1
makeatnosee=1
type=100283
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##09
{
templatename=sb_zoo9
makeatnobody=1
makeatnosee=1
type=100287
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##10
{
templatename=sb_zoo10
makeatnobody=1
makeatnosee=1
type=100291
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##011
{
templatename=sb_zoo11
makeatnobody=1
makeatnosee=1
type=100295
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##014
{
templatename=sb_zoo14
makeatnobody=1
makeatnosee=1
type=100307
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##017
{
templatename=sb_zoo17
makeatnobody=1
makeatnosee=1
type=100319
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##018
{
templatename=sb_zoo18
makeatnobody=1
makeatnosee=1
type=100323
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##019
{
templatename=sb_zoo19
makeatnobody=1
makeatnosee=1
type=100327
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##021
{
templatename=sb_zoo21
makeatnobody=1
makeatnosee=1
type=100335
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##022
{
templatename=sb_zoo22
makeatnobody=1
makeatnosee=1
type=100339
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##023
{
templatename=sb_zoo23
makeatnobody=1
makeatnosee=1
type=100343
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##024
{
templatename=sb_zoo24
makeatnobody=1
makeatnosee=1
type=100347
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##25
{
templatename=sb_zoo25
makeatnobody=1
makeatnosee=1
type=100351
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##26
{
templatename=sb_zoo26
makeatnobody=1
makeatnosee=1
type=100355
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##27
{
templatename=sb_zoo27
makeatnobody=1
makeatnosee=1
type=100359
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##29
{
templatename=sb_zoo29
makeatnobody=1
makeatnosee=1
type=100367
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##30
{
templatename=sb_zoo30
makeatnobody=1
makeatnosee=1
type=100371
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##31
{
templatename=sb_zoo31
makeatnobody=1
makeatnosee=1
type=100375
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##32
{
templatename=sb_zoo32
makeatnobody=1
makeatnosee=1
type=100379
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##33
{
templatename=sb_zoo33
makeatnobody=1
makeatnosee=1
type=100384
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##8b
{
templatename=sb_zoo8b
makeatnobody=1
makeatnosee=1
type=100389
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
