NPCTEMPLATE
#######慎の奸割矯∈ブルドン∷##########
{
templatename=sb_kbu
makeatnobody=1
makeatnosee=1
type=100394
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######慎の奸割矯∈ギガロス∷##########
{
templatename=sb_kgi
makeatnobody=1
makeatnosee=1
type=100343
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

