NPCTEMPLATE
#######ＳＢＣ審査員##########
{
templatename=sb_sbc
makeatnobody=1
makeatnosee=1
type=100407
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######ＪＢＡ審査員##########
{
templatename=sb_jba
makeatnobody=1
makeatnosee=1
type=100436
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

