NPCTEMPLATE
######水の守護者###########
{
templatename=sb_4sinm
makeatnobody=1
makeatnosee=1
type=100379
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
######火の守護者###########
{
templatename=sb_4sinh
makeatnobody=1
makeatnosee=1
type=100370
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
########風の守護者#########
{
templatename=sb_4sink
makeatnobody=1
makeatnosee=1
type=100328
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#########地の守護者########
{
templatename=sb_4sint
makeatnobody=1
makeatnosee=1
type=100274
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
