NPCTEMPLATE
#######火の守護獣（バンギーノ）##########
{
templatename=sb_hba
makeatnobody=1
makeatnosee=1
type=100290
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######火の守護獣（パドラン）##########
{
templatename=sb_hpa
makeatnobody=1
makeatnosee=1
type=100373
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

